<div class="container">
     <header class="header_lists">
                <nav>
                    <div class="logo_block" >
                        <a href="/">Ӧrnek</a>
                    </div>
                    <div class="menu"> 
                        <div class="main_menu">
                            <div class="dropdown">
                                <a href="javascript:void(0)" class="catalog">Catalog</a>
                                <div class="dropdown-content">
                                    <a href="/list/headwears">Baskıіm</a>
                                    <a href="/list/dresses">Kóılek</a>
                                    <a href="/list/shapan">Shapan</a>
                                    <a href="/list/pants">Shalbar</a>
                                    <a href="/list/belts">Belbeý</a>
                                    <a href="/list/jewelery">Áshekeı</a>
                                </div>
                            </div>
                        <a href="contacts.html" class="ma">Contacts</a>
                        <a href="#" class="ma">About us</a> 
                        </div>
                    </div>
                </nav>
            </header>
            <section class="main_section">
                <div class="slide">
                    <p class="sl_text">shapan jáne kamzoldar</p>
                </div><br/>
                <div class="itemsInfo"><p class="p1">Nazarlaryńyzǵa usynylyp otyrǵan ulttyq naqyshta órnektelgen kıimder PROKATqa beriledi</p><p class="p2">Prokat erejeleri:<br/>1. Kelisim shart toltyrylady (jeke kýáligińiz qajet)<br/>2. Prokattyń tolyq baǵasy tólenedi<br/>3. 2 táýlik ishinde kıimderdi sol kúıinde ákelý (jyrtylmaǵan, ketpeıtin daqtarsyz, t.b.)<br/>4. Kıimdi ózińiz tigip ózgertýge bolmaıdy </p></div>
                <div class="items">
                    {{#each result}}
                    <div class="item">
                        <a href="/list/{{this.class}}/:?id={{this.id}}" >
                            <img src="{{this.image_url}}"/>
                        </a>
                        <div class="itemInfo">
                            <a class="itemName" href="/list/{{this.class}}/:?id={{this.id}}v">{{this.name}}</a>
                            <p class="price">{{this.price}} teńge</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </section>
            <footer>
                <p>Author: GAZIZA <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/600px-Instagram_icon.png" width="20px"/> Insta: @gazizaaz, @gaziza_ornek, @gaziza_ornek_2</p>
                <p>Site created by: Aziza Karzhaubayeva</p>
                <a href="mailto:190103166@stu.sdu.edu.kz">190103166@stu.sdu.edu.kz</a>
            </footer>
        </div>