<div class="container">
        <header id="header">
            <nav id="layout_nav">
                <div class="logo_block" ><a id="na" href="/">Ӧrnek</a></div>
                <div class="menu"> 
                    <div class="main_menu">
                        <div class="dropdown">
                            <a href="javascript:void(0)" class="catalog_layout">Catalog</a>
                            <div class="dropdown-content">
                                <a href="/list/headwears">Baskıіm</a>
                                <a href="/list/dresses">Kóılek</a>
                                <a href="/list/shapan">Shapan</a>
                                <a href="/list/pants">Shalbar</a>
                                <a href="/list/belts">Belbeý</a>
                                <a href="/list/jewelery">Áshekeı</a>
                            </div>
                        </div>
                        <a class="la" href="contacts.html">Contacts</a>
                        <a class="la" href="#">About us</a>
                        <a class="la" href="/auth/login_form">Log in</a>
                        <div class="search-container">
                            <form action="/search" method="post">
                                <input class="search_btn" type="text" placeholder="Enter text" name="search">
                                <button class="search_submit" type="submit">
                                    <img src="https://icon-library.com/images/white-search-icon-png/white-search-icon-png-19.jpg" />
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
            
        </header>
        <div class="slider">
            <div class="mySlides fade">
                <img class="image_s" src="{{slide1}}" >
                <div class="text_s" >{{t1}}</div>
            </div>
            <div class="mySlides fade">
                <img class="image_s" src="{{slide2}}" >
                <div class="text_s" >{{t2}}</div>
            </div>
            <div class="mySlides fade">
                <img class="image_s"src="{{slide3}}" >
                <div class="text_s" >{{t3}}</div>
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            
        </div>
        <br/>
        <section class="main_section_layout">
            <div class="items_layout">
                <div class="item_layout"> 
                    <a href="/list/headwears" >
                        <img class="item_layout_img" src="{{img1}}" />
                    </a>
                    <a href="/list/headwears" class="title_layout">{{tl1}}</a>
                </div>
                <div class="item_layout"> 
                    <a href="/list/dresses">
                        <img class="item_layout_img" src="{{img2}}" />
                    </a> 
                    <a href="/list/dresses" class="title_layout">{{tl2}}</a>
                </div>
                <div class="item_layout"> 
                    <a href="/list/shapan">
                        <img class="item_layout_img" src="{{img3}}" />
                    </a>
                    <a href="/list/shapan" class="title_layout">{{tl3}}</a>
                </div>
                <div class="item_layout">
                    <a href="/list/pants"> 
                        <img class="item_layout_img" src="{{img4}}" />
                    </a>
                    <a href="/pants.html" class="title_layout">{{tl4}}</a>
                </div>
                <div class="item_layout"> 
                    <a href="/list/belts">
                        <img class="item_layout_img" src="{{img5}}" /> 
                    </a>
                    <a href="/list/belts" class="title_layout">{{tl5}}</a>
                </div>
                <div class="item_layout">
                    <a href="/list/jewelery"> 
                        <img class="item_layout_img" src="{{img6}}" />
                    </a>
                    <a href="/list/jewelery" class="title_layout">{{tl6}}</a>
                </div>
            </div>
        </section>
    </div>
        <footer class="footer_layout">
            <p>Author: GAZIZA <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/600px-Instagram_icon.png" width="20px"/> Insta: @gazizaaz, @gaziza_ornek, @gaziza_ornek_2</p>
            <p>Site created by: Aziza Karzhaubayeva</p>
            <a href="mailto:190103166@stu.sdu.edu.kz">190103166@stu.sdu.edu.kz</a>
        </footer>
